@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #212529;
}

@theme {
  --color-primary: #ff5d22;
  --color-text: #212529;
  --color-grey: #6b6b84;
  --color-grey-light: #fefcf8;
  --color-grey-blue: #f1f8fb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  box-sizing: border-box;
}
